a{
    text-decoration: none;
    color: white;
}
a:focus{
    outline: none;
}

.wrapper {
    background:  url("../images/background.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 40px;
}
header{
    width: 1060px;
    height: 70px;
}
.logo{
    float: left;
    height: 100%;
    width: 200px;
}
.logo-img{
    width: 50px;
    height: 50px;
    background-image: url("../images/logo@1X.png");
    background-repeat: no-repeat;
    background-size:cover ;
}
.logo:hover .logo-img{
    background-image: url("../images/logo-hover.png");
}
.logo:hover{
    color:#f26522;
}

.logo-text-up{
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}
.logo-text-down{
    margin: 0;
    text-transform: uppercase;
    font-size:20px;
    font-weight: 500;
}
.contacts-info{
    margin-top: 3px;
}
.logo-text-block, .logo-img{
    display: inline-block;
}
.contacts{
    float: right;
    height: 100%;
    font-size:18px;
    color: white;
}
.container{
    width: 1060px;
    height: 100%;
    margin: 0 auto;
}
header:after {
    content: "";
    display: table;
    clear: both;
}
main:after {
    content: "";
    display: table;
    clear: both;
}
.image-tours{
    width: 307px;
    height: 200px;
}
.hidden-container{
    position: relative;
}

.image-container{
    margin-left: 68px;
    float: left;
    margin-top: 25px;
}

.hidden{
    display: none;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 35%;
    bottom: 0;
    background-color: #f26522;
}
.hidden-menu-details{
    float:right;
    padding-top: 40px;
    padding-right: 20px;
}
.details{
    font-size: 17px;
    float: left;
    padding-right: 20px;
}
.pseudo{
    float: right;
}
.hidden-menu-value{
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}
.euro{
 font-size:25px;
}
.from{
    font-size:12px;
}
.image-container:nth-child(3n+1){
    margin-left: 0;
}

.cart-title{
    text-align: center;
    font-size: 24px;
}

.image-container:hover .cart-title{
    color: #f26522;
}
.image-container:hover .hidden{
    display: block;
}

.footer{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size:16px;
}


